p {
    background-color: orange;
}
#paragraf {
    color: aqua;
}
a, span, div {
    background-color: beige
}
ul> a {
    background-color: cadetblue;
}
h1 + p {
    color: darkgreen
}
h1 ~ p {
    color: green
}