p {
    background-color: orange;
}
#paragraf {
    color: aqua;
}
a, span, div {
    background-color: beige
}
ul> a {
    background-color: cadetblue;
}
h1 + p {
    color: darkgreen
}
h1 ~ p {
    color: green
}

ul#lista >li:not(.last) {
    background: yellow;
}
ul#lista >li:nth-child(3) {
    background-color: blue;
}