body {
    background-color: coral
}

#pierwszy {
    background-color: antiquewhite;
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
    position: relative;
    top: 40px;
    left: 30px;
}

#drugi {
    background-color: firebrick;
    width: 600px;
    height: 100px;
}

#trzeci {
    background-color: blue;
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
    position: fixed;
    top: 40px;
    left: 30px;

}

#pierwszy-prim {
    background-color: yellow;
    position: 
    margin: 10px;
    bottom: 5px;
    left: px;
}

#pierwszy-absolutny {
    background-color: violet;
    position: absolute;
    margin: 10px;
    bottom: 5px;
    left: px;
}