body {
    background-color: coral
}
#pierwszy {
    background-color: antiquewhite;
    width: 600px;
    height 100px;
    margin-bottom: 10px;
}

#drugi {
    background-color: firebrick;
    width: 600px;
    height 100px;
}